<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Biline</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/paper.js"></script>
    <script type="text/javascript" src="/js/io.js"></script>
    <script type="text/paperscript" canvas="canvas" src="/js/draw.js"></script>
  </head>
  <body>
    <canvas id="canvas" resize></canvas>
  </body>
</html>
