<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Biline</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/paper.js"></script>
    <script type="text/paperscript" canvas="canvas" src="/js/draw2.js"></script>
  </head>
  <body>
    <canvas id="canvas" data-paper-resize="true"></canvas>
  </body>
</html>
